<aside class="sidebar">

    <div class="profile">
        <img src="#" alt="Photo de profil" class="profile-img">
        <h2>Enzo POUSSE</h2>
        <p>Etudiant en BTS SIO - Option SLAM</p>
    </div>

    
    <nav>
        <ul>
            <li><a href="#accueil"><i class="fas fa-home"></i> Accueil</a></li>
                        <li>
                <ul class="sub-nav">
                    <li><a href="#profil"><i class="fas fa-user"></i> Profil</a></li>
                    <li><a href="#parcours"><i class="fa-solid fa-graduation-cap"></i> Parcours</a></li>
                </ul>
            </li>
                                    
            <li><a href="/#competences"><i class="fas fa-tools"></i> Compétences</a></li>

            <li><a href="/#projets" class=""><i class="fas fa-code"></i> Projets</a></li>

                        
            <li><a href="/#contact"><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
    </nav>
    <div class="social-links">
        <a href="mailto:enzopousse.06@gmail.com" target="_blank" aria-label="Envoyer un email à Enzo POUSSE"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://github.com/EnzoPss" target="_blank" aria-label="Visiter le profil GitHub de EnzoPss"><i class="fab fa-github"></i></a>
        <!-- <a href="https://fr.linkedin.com/in/elouan-bret-2095342a8" target="_blank" aria-label="Visiter le profil Linkedin de Foxelou"><i class="fab fa-linkedin"></i></a> -->
    </div>
    <div class="copyright">
        <p>© Copyright <span id="current-year">2026</span></p>
        <p>Designed by Enzo POUSSE</p>
        <p>Tous droits réservés</p>
        <br>
        <a href="/mentions-legales" style="text-decoration: none;" aria-label="Accéder aux mentions légales du site">Mentions légales</a>
    </div>
</aside>