<div id="competences">



    <p>*Compétences*</p>



  <div class="competences-content">

    <!-- <div class="competences-left">
      <div class="skills-track-wrapper">
        <div class="skills-track">
          
          <div class="skill-box"><img src="img/angular.png" alt="Angular"></div>
          <div class="skill-box"><img src="img/typescript.png" alt="TypeScript"></div>
          <div class="skill-box"><img src="img/html.png" alt="HTML"></div>
          <div class="skill-box"><img src="img/css.png" alt="CSS"></div>
          <div class="skill-box"><img src="img/java.png" alt="Java"></div>
          <div class="skill-box"><img src="img/mysql.png" alt="MySQL"></div>
          
          <div class="skill-box"><img src="img/angular.png" alt="Angular"></div>
          <div class="skill-box"><img src="img/typescript.png" alt="TypeScript"></div>
          <div class="skill-box"><img src="img/html.png" alt="HTML"></div>
          <div class="skill-box"><img src="img/css.png" alt="CSS"></div>
          <div class="skill-box"><img src="img/java.png" alt="Java"></div>
          <div class="skill-box"><img src="img/mysql.png" alt="MySQL"></div>
        </div>
      </div>
    </div> 

    <div class="cv-container">
      <canvas #cvCanvas class="cv-canvas"></canvas>
      <a href="img/CV_Enzo_Pousse.pdf" download="CV_Enzo_Pousse.pdf" class="cv-download-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
        </svg>
        Télécharger mon CV
      </a>
    </div>-->

  </div>
</div>