:root {

    --primary-color: #2a2a2a;
    --secondary-color: #4a4a4a;
    --accent-color: #9d64ff;
    --text-color: #ffffff;
    --accent-text-color: #333333;
    --bg-color: #1f1f1f;
    --card-bg: rgba(255, 255, 255, 0.05);
    --sidebar-bg: rgba(42, 42, 42, 0.25);
    --border-color: rgba(255, 255, 255, 0.1);
    --sidebar-width: 280px;
    --accent-color-rgb: 155, 73, 255; 
    --scrollbar-thumb: rgba(128, 128, 128, 0.5); 
    --scrollbar-track: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.container {
    display: flex;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--accent-color);
}


.sidebar {
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

/* Scrollbar spÃ©cifique pour la sidebar */
.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

/* Ajout des styles pour le copyright */
.copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.8;
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);
    width: 100%;
}

.copyright p {
    margin: 0.2rem 0;
}

.copyright a {
    text-decoration: none;
    color: var(--text-color);
}

/* Ajout d'une transition pour le dÃ©filement fluide */
html {
    scroll-behavior: smooth;
}

